<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<title>NHXuan Admin | Dashboard</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="stylesheet" type="text/css" href="/public/admin/css/cloud-admin.css" >
	<link rel="stylesheet" type="text/css"  href="/public/admin/css/themes/default.css" id="skin-switcher" >
	<link rel="stylesheet" type="text/css"  href="/public/admin/css/responsive.css" >
	<!-- STYLESHEETS --><!--[if lt IE 9]><script src="/public/admin/js/flot/excanvas.min.js"></script><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script><![endif]-->
	<link href="/public/admin/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<!-- ANIMATE -->
	<link rel="stylesheet" type="text/css" href="/public/admin/css/animatecss/animate.min.css" />
	<!-- DATE RANGE PICKER -->
	<link rel="stylesheet" type="text/css" href="/public/admin/js/bootstrap-daterangepicker/daterangepicker-bs3.css" />
	<!-- TODO -->
	<link rel="stylesheet" type="text/css" href="/public/admin/js/jquery-todo/css/styles.css" />
	<!-- FULL CALENDAR -->
	<link rel="stylesheet" type="text/css" href="/public/admin/js/fullcalendar/fullcalendar.min.css" />
	<!-- GRITTER -->
	<link rel="stylesheet" type="text/css" href="/public/admin/js/gritter/css/jquery.gritter.css" />
	<!-- FONTS -->
	<link href='/public/admin/css/fonts.css' rel='stylesheet' type='text/css'>
	<!--                    表单验证添加的样式                      start-->
	<link rel="stylesheet" type="text/css" href="/public/admin/js/select2/select2.min.css" />
	<!-- UNIFORM -->
	<link rel="stylesheet" type="text/css" href="/public/admin/js/uniform/css/uniform.default.min.css" />
	<!-- WIZARD -->
	<link rel="stylesheet" type="text/css" href="/public/admin/js/bootstrap-wizard/wizard.css" />
	<!--                   表单验证添加的样式                       end-->
	
	<!--                   表单样式                       start-->
	<!-- MARKDOWN word文档样式 -->
	<link rel="stylesheet" type="text/css" href="/public/admin/js/bootstrap-markdown/css/bootstrap-markdown.min.css" />
	
	<link href="/public/admin/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<!-- TYPEAHEAD -->
	<link rel="stylesheet" type="text/css" href="/public/admin/js/typeahead/typeahead.css" />
	<!-- FILE UPLOAD -->
	<link rel="stylesheet" type="text/css" href="/public/admin/js/bootstrap-fileupload/bootstrap-fileupload.min.css" />
	<!-- SELECT2 -->
	<link rel="stylesheet" type="text/css" href="/public/admin/js/select2/select2.min.css" />
	<!-- UNIFORM -->
	<link rel="stylesheet" type="text/css" href="/public/admin/js/uniform/css/uniform.default.min.css" />
	<!-- JQUERY UPLOAD -->
	<!-- blueimp Gallery styles -->
	<link rel="stylesheet" href="/public/admin/js/blueimp/gallery/blueimp-gallery.min.css">
	<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
	<link rel="stylesheet" href="/public/admin/js/jquery-upload/css/jquery.fileupload.css">
	<link rel="stylesheet" href="/public/admin/js/jquery-upload/css/jquery.fileupload-ui.css">
	<!--                   表单样式                       end-->
	<!-- JQUERY UI        data table 表格-->
	<link rel="stylesheet" type="text/css" href="/public/admin/js/jquery-ui-1.10.3.custom/css/custom-theme/jquery-ui-1.10.3.custom.min.css" />
	<!-- DATA TABLES -->
	<link rel="stylesheet" type="text/css" href="/public/admin/js/datatables/media/css/jquery.dataTables.min.css" />
	<link rel="stylesheet" type="text/css" href="/public/admin/js/datatables/media/assets/css/datatables.min.css" />
	<link rel="stylesheet" type="text/css" href="/public/admin/js/datatables/extras/TableTools/media/css/TableTools.min.css" />
	
	<!-- TABLE CLOTH -->
	<link rel="stylesheet" type="text/css" href="/public/admin/js/tablecloth/css/tablecloth.min.css" />
</head>	

	
	
