<div id="sidebar" class="sidebar">
	<div class="sidebar-menu nav-collapse">
		<!--div class="divide-20"></div-->
		<!-- SEARCH BAR -->
		<!--div id="search-bar">
			<input class="search" type="text" placeholder="Search">
			<i class="fa fa-search search-icon"></i> 
		</div-->
		<!-- /SEARCH BAR --> 
		
		<!-- SIDEBAR QUICK-LAUNCH -->
		
		<!-- SIDEBAR MENU -->
		<ul>
			<li class="active"> <a href="/admin/index/index/index.html"> <i class="fa fa-tachometer fa-fw"></i> <span class="menu-text">首页</span> <span class="selected"></span> </a> </li>
			<li class="has-sub"> <a href="javascript:;" class=""> <i class="fa fa-bookmark-o fa-fw"></i> <span class="menu-text">栏目管理</span> <span class="arrow"></span> </a>
				<ul class="sub">
					<li><a class="" href="/admin/category/index/index.html"><span class="sub-menu-text">栏目列表</span></a></li>
					<li><a class="" href="/admin/category/add/add.html"><span class="sub-menu-text">添加顶级栏目</span></a></li>
					<!--li class="has-sub-sub"> <a href="javascript:;" class=""><span class="sub-menu-text">Third Level Menu</span> <span class="arrow"></span> </a>
						<ul class="sub-sub">
							<li><a class="" href="#"><span class="sub-sub-menu-text">Item 1</span></a></li>
							<li><a class="" href="#"><span class="sub-sub-menu-text">Item 2</span></a></li>
						</ul>
					</li-->
				</ul>
			</li>
			<li class="has-sub"> <a href="javascript:;" class=""> <i class="fa fa-table fa-fw"></i> <span class="menu-text">文章管理</span> <span class="arrow"></span> </a>
				<ul class="sub">
					<li><a class="" href="/admin/article/index/index.html"><span class="sub-menu-text">文章待审核</span></a></li>
					<li><a class="" href="/admin/article/list/list.html"><span class="sub-menu-text">文章列表</span></a></li>
					<li><a class="" href="/admin/article/add/add.html"><span class="sub-menu-text">添加文章</span></a></li>
					<li><a class="" href="/admin/article/comment/comment.html"><span class="sub-menu-text">文章评论</span></a></li>
					<li><a class="" href="/admin/article/import/import.html"><span class="sub-menu-text">文章导入</span></a></li>
				</ul>
			</li>
			<li class="has-sub"> <a href="javascript:;" class=""> <i class="fa fa-pencil-square-o fa-fw"></i> <span class="menu-text">公告管理</span> <span class="arrow"></span> </a>
				<ul class="sub">
					<li><a class="" href="/admin/notice/index/index.html"><span class="sub-menu-text">公告列表</span></a></li>
					<li><a class="" href="/admin/notice/auditing/auditing.html"><span class="sub-menu-text">公告审核</span></a></li>
					<li><a class="" href="/admin/notice/add/add.html"><span class="sub-menu-text">添加公告</span></a></li>
				</ul>
			</li>
			<li class="has-sub"> <a href="javascript:;" class=""> <i class="fa fa-bar-chart-o fa-fw"></i> <span class="menu-text">友情链接</span> <span class="arrow"></span> </a>
				<ul class="sub">
					<li><a class="" href="/admin/links/index/index.html"><span class="sub-menu-text">友情链接列表</span></a></li>
					<li><a class="" href="/admin/links/apply/apply.html"><span class="sub-menu-text">友情链接审核</span></a></li>
					<li><a class="" href="/admin/links/add/add.html"><span class="sub-menu-text">添加友情链接</span></a></li>
				</ul>
			</li>
			<li><a class="" href="/admin/site/index/index.html"><i class="fa fa-columns fa-fw"></i> <span class="menu-text">站点设置</span></a></li>
			<li class="has-sub"> <a href="javascript:;" class=""> <i class="fa fa-envelope-o fa-fw"></i> <span class="menu-text">邮箱服务</span> <span class="arrow"></span> </a>
				<ul class="sub">
					<li><a class="" href="/admin/email/index/index.html"><span class="sub-menu-text">邮件列表</span></a></li>
					<li><a class="" href="/admin/email/service/service.html"><span class="sub-menu-text">邮件服务器设置</span></a></li>
					<li><a class="" href="/admin/email/tpl/tpl.html"><span class="sub-menu-text">邮件模板设置</span></a></li>
				</ul>
			</li>
			
			<li class="has-sub"> <a href="javascript:;" class=""> <i class="fa fa-briefcase fa-fw"></i> <span class="menu-text">广告管理 <span class="arrow"></span> </a>
				<ul class="sub">
					<li><a class="" href="/admin/ad/index/index.html"><span class="sub-menu-text">广告列表</span></a></li>
					<li><a class="" href="/admin/ad/add/add.html"><span class="sub-menu-text">添加广告</span></a></li>
				</ul>
			</li>
			<li class="has-sub"> <a href="javascript:;" class=""> <i class="fa fa-desktop fa-fw"></i> <span class="menu-text">会员管理 <span class="arrow"></span> </a>
				<ul class="sub">
					<li><a class="" href="/admin/users/index/index.html"><span class="sub-menu-text">所有注册会员</span></a></li>
					<li><a class="" href="/admin/users/alluser/alluser.html"><span class="sub-menu-text">所有管理员</span></a></li>
				</ul>
			</li>
			<li class="has-sub"> <a href="javascript:;" class=""> <i class="fa fa-th-large fa-fw"></i> <span class="menu-text">用户组管理(权限)</span> <span class="arrow"></span> </a>
				<ul class="sub">
					<li><a class="" href="/admin/role/index/index.html"><span class="sub-menu-text">用户组列表</span></a></li>
					<li><a class="" href="/admin/role/add/add.html"><span class="sub-menu-text">添加用户组</span></a></li>
				</ul>
			</li>
		</ul>
		<!-- /SIDEBAR MENU --> 
	</div>
</div>